<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Template driven form</h3>
    </div>

    <div class="panel-body">
      <form #frmUser="ngForm" (ngSubmit)="onSubmitForm(frmUser)">

        <div class="form-group">
          <label for="">User name</label>
          <input type="text"
          name="txtUserName" 
          class="form-control" 
          [(ngModel)]="user.userName" 
          [ngModelOptions]="{username : username}" 
          #username="ngModel"
          required="required"
          >

          {{username.className}}
          {{username.errors | json}}

        <span class="label label-danger" *ngIf="username.errors?.required && username.dirty">
          vui long nhap user name
        </span>

        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input type="password" 
          name="txtPassWord" 
          class="form-control" 
          [(ngModel)]="user.passWord" 
          #password="ngModel"
          required="required"
          minlength="5"
          >
          <span class="label label-danger" *ngIf="password.errors?.required && password.dirty">
            vui long nhap pass
          </span>
          <span class="label label-danger" *ngIf="password.errors?.minlength && password.dirty">
            min length is 5
          </span>
        </div>

        <div class="form-group">
          <label for="">Full name</label>
          <input type="text" 
          name="txtFullName" 
          class="form-control" 
          [(ngModel)]="user.fullName" 
          #fullname="ngModel"
          required="required"
          >
          <span class="label label-danger" *ngIf="fullname.errors?.required && fullname.dirty">
            vui long nhap full name
          </span>

        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input type="email" 
          name="txtEmail" 
          class="form-control" 
          [(ngModel)]="user.email" 
          #email="ngModel"
          required="required"
          >
          <span class="label label-danger" *ngIf="email.errors?.required && email.dirty">
            vui long nhap email
          </span>

        </div>

        <div class="form-group">
          <label for="">Phone</label>
          <input type="number" 
          name="txtPhone" 
          class="form-control" 
          [(ngModel)]="user.phone" 
          #phone="ngModel"
          required="required"
          minlength="10"
          >
          <span class="label label-danger" *ngIf="phone.errors?.required && phone.dirty">
            vui long nhap phone
          </span>
          <span class="label label-danger" *ngIf="phone.errors?.minlength && phone.dirty">
            min length is 10
          </span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" (click)="onReset(frmUser)">Reset</button>
      </form>
    </div>
  </div>

</div>
