<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Data driven form</h3>
    </div>

    <div class="panel-body">
      <form [formGroup]="frmUser" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="">User name</label>
          <input type="text" name="txtUserName" class="form-control" formControlName="userName">


        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input id="passWord" type="password" name="txtPassWord" class="form-control" formControlName="passWord" required >

        </div>

        <div class="form-group">
          <label for="">Full name</label>
          <input type="text" name="txtFullName" class="form-control" formControlName="fullName">


        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input type="email" name="txtEmail" class="form-control" formControlName="email">


        </div>

        <div class="form-group">
          <label for="">Phone</label>
          <input type="text" name="txtPhone" class="form-control" formControlName="phone">



        </div>
        <div formArrayName="myChoices">
          <h3>Aliases</h3>
          <div *ngFor="let choice of checks; let i=index" class="col-md-2">
            <label>
              <input type="checkbox" [value]="choice.value" (change)="onCheckChange($event)">
              {{choice.description}}
            </label>
          </div>
          <!-- <button (click)="addAlias()">Add Alias</button>
          <div *ngFor="let address of aliases.controls; let i=index">
            The repeated alias template -->
            <!-- <label>
              Alias:
              <input type="checkbox" [formControlName]="i" value='i' (change)="onCheckChange($event)">


            </label>
          </div> -->
        </div>

        <button type="submit" class="btn btn-primary" >Save</button>
        <button type="button" class="btn btn-primary" (click)="onReset()">Reset</button>

        <p>{{frmUser.status}}</p>
      </form>
    </div>
  </div>

</div>
